html, address,
blockquote,
body, dd, div,
dl, dt, fieldset, form,
frame, frameset,
h1, h2, h3, h4,
h5, h6, noframes,
ol, p, ul, center,
dir, hr, menu, pre   { display: block; unicode-bidi: embed }
li              { display: list-item }
head            { display: none }
table           { display: table }
tr              { display: table-row }
thead           { display: table-header-group }
tbody           { display: table-row-group }
tfoot           { display: table-footer-group }
col             { display: table-column }
colgroup        { display: table-column-group }
td, th          { display: table-cell }
caption         { display: table-caption }
th              { font-weight: bolder; text-align: center }
caption         { text-align: center }
body            { margin: 8px }
h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h4, p,
blockquote, ul,
fieldset, form,
ol, dl, dir,
menu            { margin: 1.12em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6, b,
strong          { font-weight: bolder }
blockquote      { margin-left: 40px; margin-right: 40px }
i, cite, em,
var, address    { font-style: italic }
pre, tt, code,
kbd, samp       { font-family: monospace }
pre             { white-space: pre }
button, textarea,
input, select   { display: inline-block }
big             { font-size: 1.17em }
small, sub, sup { font-size: .83em }
sub             { vertical-align: sub }
sup             { vertical-align: super }
table           { border-spacing: 2px; }
thead, tbody,
tfoot           { vertical-align: middle }
td, th, tr      { vertical-align: inherit }
s, strike, del  { text-decoration: line-through }
hr              { border: 1px inset }
ol, ul, dir,
menu, dd        { margin-left: 40px }
ol              { list-style-type: decimal }
ol ul, ul ol,
ul ul, ol ol    { margin-top: 0; margin-bottom: 0 }
u, ins          { text-decoration: underline }
br:before       { content: "\A"; white-space: pre-line }
center          { text-align: center }
:link, :visited { text-decoration: underline }
:focus          { outline: thin dotted invert }

/* Begin bidirectionality settings (do not change) */
BDO[DIR="ltr"]  { direction: ltr; unicode-bidi: bidi-override }
BDO[DIR="rtl"]  { direction: rtl; unicode-bidi: bidi-override }

*[DIR="ltr"]    { direction: ltr; unicode-bidi: embed }
*[DIR="rtl"]    { direction: rtl; unicode-bidi: embed }

@media print {
    h1            { page-break-before: always }
    h1, h2, h3,
    h4, h5, h6    { page-break-after: avoid }
    ul, ol, dl    { page-break-before: avoid }
}

.clear{
    clear:both;
    width:100%;
    height:.2em;
    display:block;;
}
.clearbutton{
    background:transparent;
    border:none;
}

select {
    -webkit-appearance: button;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-position: right 50%;
    background-repeat: no-repeat;
    border: 1px solid #666666;
    color: #000000;
    font-size: 12px;
    font-family: verdana;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    background-image: url(img/arrow.png),
    -webkit-linear-gradient(#FAFAFA, #E5E5E5 40%, #C0C0C0);
}
.DoorDateSettings
{
    width:65px;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label {
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(/apps/PASSport/img/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(/apps/PASSport/img/check_radio_sheet.png) -19px top no-repeat;
}
input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
}
input[type="radio"] + label span {
    display:inline-block;
    width:12px;
    height:12px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(/apps/PASSport/img/check_radio_sheet.png) -24px top no-repeat;
    cursor:pointer;
}
input[type="radio"]:checked + label span {
    background:url(/apps/PASSport/img/check_radio_sheet.png) -36px top no-repeat;
}

.close-button{
    width:10px;
    height:15px;
    background-color:transparent;
    cursor: hand;
    cursor: pointer;
}
body{
    background:#000000;
    color:#ffffff;
    padding:0;
    margin:0;
    font-family:Verdana;
    font-size:8.25pt;
}
.centertxt{
    text-align: center;
}
a:link {color:#FFFFFF;}      /* unvisited link */
a:visited {color:#FFFFFF;}  /* visited link */
a:hover {color:#00FF00;}  /* mouse over link */
a:active {color:#FFFFFF;}  /* selected link */

#wrapper{
    position:relative;
    width:900px;
    height:620px;
    border:3px solid white;
    margin: 0 auto;
    background: url(img/passport_interface_UIUX_bg.jpg);
    background-size: 100% 100%;
}
#left-side{
    position:relative;
    height:100%;
    width:52%;
    display: inline-block;

}
#door-side{
    position:absolute;
    top:2%;
    height: 98%;
    width:430px;
    display: inline-block;
    background:url(img/door_image.png) no-repeat;
    background-size: 100% 100%;
    color:#606060;
    border:1px none red;
}
#left-nav{
    position:absolute;
    top:7%;
    display: inline-block;
    line-height:30px;
    font-weight:bold;
}
.nav-divider{
    color:Teal;
    font-size:12pt;
    font-weight:bold;
}
.left-content-wrap{
    overflow: auto;
    height:67.5%;
}
.left-content{
    padding:2%;
    margin-top: 2%;
    height:87%;
    overflow: auto;
}
.left-main-title{
    font-family:Verdana;
    font-size:12pt;
    font-weight:bold;
    display:block;
    padding:2% 0 0 5%;
}
.icons
{
    height:42px;
    width:42px;
}
.edit-icons
{
    height:30px;
    width:30px;
}
.save-cancel-icons{
    width:56px;
    height:28px;
}
.definition-align{
    width:85%;
    margin-left:13%;
}
.Ln-height35{
    line-height: 35px;
}

.left-content img, .sizetext2em{
    float:left;
    font-size: 2em;
    margin-top:3%;
}

#petsafe-logo{
    background:url(img/door_image.png) no-repeat;
    position:absolute;
    bottom:20%;
    left:3%;
    background:transparent;
    display: inline-block;
}
.door-nav-width-bounds{
    width:72.5%;
    margin:0 auto;
    padding:2%;
    height:60px;
}
.door-width-bounds{
    position:relative;
    width:90%;
    Height:92%;
    margin:10% 0 0 0;
    overflow:auto;
    padding-left:12%;
}
.door-width-bounds p, .block-font12pt{
    width:90%;
    margin-left: 5%;
    font-size: 12pt;
}
.center-text{
    margin:0 auto;
    padding:0;
    border:0;
    font-size:9.75pt;
    text-align:center;
}
#LCD{
    width:130px;
    height:55px;
    position:relative;
    left:54%;
    line-height:55px;
    text-align: center;
    color:#ffffff;
}
#wifi-usb-icons{
    position:absolute;
    top:3%;
    right:5%;
    width:35px;
    height:35px;
}
#wifi-usb-icons img{
    height:31px;
}
#battery-indicator{
    position:absolute;
    right:10px;
    top:290px;
    width: 26px;
    height: 100px
}
#door-nav{
    text-align: center;
}
#door-nav a{
    margin:0 5%;
}
a.button-long,a.button-short{
    margin: 0 0 0 8%;
    display: inline-block;
    height: 19px;
    line-height: 19px;
    width:120px;
    text-align: center;
    color:#000000;
    text-decoration: none;
    background: url("img/empty-button.png") no-repeat scroll left top transparent;
    background-size: 100% 100%;
}

a.button-short{
    width:80px;
}

.home-nav{
    display: inline-block;
    height: 50px;
    padding: 0px 50px 0px 0px;
    text-decoration: none;
    background: url("img/passport_UIUX_petstatus_IDLE.png") no-repeat scroll right top transparent;
}
.door-nav{
    display: inline-block;
    height: 50px;
    padding: 0px 50px 0px 0px;
    text-decoration: none;
    background: url("img/passport_UIUX_doorsettings_IDLE.png") no-repeat scroll right top transparent;

}

.settings-nav{
    display: inline-block;
    height: 50px;
    padding: 0px 50px 0px 0px;
    text-decoration: none;
    background: url("img/passport_UIUX_petsettings_IDLE.png") no-repeat scroll right top transparent;
}


.home-nav:hover{
    background: url("img/passport_UIUX_petstatus_OVER.png") no-repeat scroll right top transparent;
}
.door-nav:hover{
    background: url("img/passport_UIUX_doorsettings_OVER.png") no-repeat scroll right top transparent;
}
.settings-nav:hover{
    background: url("img/passport_UIUX_petsettings_OVER.png") no-repeat scroll right top transparent;
}

#btnPetStatus:target{
    background: url("img/passport_UIUX_petstatus_OVER.png") no-repeat scroll right top transparent;
}
#btnDoorSettings:target{
    background: url("img/passport_UIUX_doorsettings_OVER.png") no-repeat scroll right top transparent;
}
#btnPetSettings:target{
    background: url("img/passport_UIUX_petsettings_OVER.png") no-repeat scroll right top transparent;
}


#footer{
    position:absolute;
    bottom:0;
    margin: 0;
    padding: 0;
    height:128px;
    width:100%;
    background: url(img/passport_interface_UIUX_silverBar.png);
    background-size: 100% 100%;
}#copyright{
     position:absolute; bottom:5%; width: 100%;
    text-align: center;
     font-size:10px;
     color:#ffffff;
 }
.right-content-wrap{
    border:1px none blue;
    height:60%;
    width:75%;
    margin: 0 auto;
}


.right-main-title{
    font-family:Verdana;
    font-size:12pt;
    font-weight:bold;
    background-color: transparent;
    display:block;
}
.right-header button{
    border:0px solid black;
    background-color:transparent;
    width:34px;
}
.save-cancel-container{
    position:absolute;
    right:14%;
    display:inline-block;
}

#sidePnlHome,#sidePnlPetStatus_help,#PetStatus,#sidePnlUpdates,#sidePnlSupport,
#sidePnlDoorSettings_help, #DoorSettings,
#sidePnlPetSettings_help, #PetSettings,
#nameDoor, #setTimeDate, #namePet,#add-pets,
#learnPet1, #learnPet2,#allFinished,#setLanguage{
    display:none;
}
#sidePnlHome,#connecting, .display-block{
    display:block;
}
.align-bottom{
    position:absolute;
    width:100%;
    bottom:25%;
    left:5%;
}
#fwUpdateProgressDiv{
    font-size: 16px;
}
.MessageBox
{
    background: url('img/passport_UIUX_alert_message_box.png') no-repeat;
    background-position:center;
    margin-left:5%;
    color:Black;
    width:368px;
    height:116px;
    padding-top:1px;
    padding-left:20px;
    display:block;
    position: relative;
    top:7%;
    z-index:1;
}
.history,.edit{
    display: inline-block;
    height: 30px;
    padding: 0px 30px 0px 0px;
    text-decoration: none;
    background: url("img/passport_UIUX_history_small.png") no-repeat scroll right top;
    background-size:100% 100%;
}
.edit{
    background: url("img/passport_UIUX_edit.png") no-repeat scroll right top;
    background-size:100% 100%;
}

#timer-cancel-ok-wrapper{
    width:658px;
    height:30px;
    margin: 0 20px;
    border:none;
    border-top-style:solid;
    border-color:Gray;
    text-align:right;
}
img.hidden, .hidden{
    visibility: hidden;
}
img.hidden{
    height:14px;
    width:14px;
}
#PopUpTimerEditor{
    display:none;
    width:700px;
    height:400px;
    color:#606060;
    position:absolute;
    right:100px;
    bottom:100px;
    z-index:52;
    background-color:White;
    background-repeat: no-repeat;
    background-image:url('');
}
.TimerBase{
    border-style:solid;
    border-color:Gray;
    width:330px;
    height:200px;
    float:left;
}
#topleft_text{
    border-left-style:none;
    padding:0px 0px 0px 0px;
    font-size:14px;
    margin-left:20px;
}
#topleft_editor{
    border-left-style:none;
    display:none;
    margin-left:20px;
}
#topright{
    border-right-style:none;
    padding:0px 0px 0px 0px;
    width: 324px;
    height:200px;
    float:right;
    margin-right:20px;
}
.timer-item{
    border:0px solid blue;
    width: 100%;
    height:25px;
}
.timer-color-wrapper{
    float:left;
    width:150px;
}
#myCanvas{
    width:658px;
    height:60px;
    margin: 0 20px;
}
#color-key{
    width:450px;
    line-height:20px;
    background-color:#E6E8FA;
    margin-left: 228px;
}
#Blue-Color-Block,
#Red-Color-Block,
#Lime-Color-Block{
    height:20px;
    width:20px;
    float:left;
    background-color:Blue;
}
#Red-Color-Block{
    background-color:Red;
}
#Lime-Color-Block{
    background-color:Lime;
}
#{

    border-style:solid;
    border-color:Red;
}
.PopUpBase{
    display:none;
    position: absolute;
    padding: 10px;
    text-align: justify;
}
#PopUpRename{
    left: 50px;
    top: 225px;
    width: 327px;
    height: 164px;
    background:url("img/passport_UIUX_create_rename_popup_box.png") no-repeat;
}
#popUpHistory{
    left:200px;
    top:125px;
    width:530px;
    height:250px;
    z-index:51;
    background:url("img/passport_UIUX_history_popup_box_WATERMARK.png") no-repeat;
}
.WizMainTitle
{
    margin-left:15px;
    font-size:12pt;
    font-weight: bold;
}
.wizard-left-content
{
    padding-left:8%;
    margin:5% 0 0 5%;
}
.wizard-left-content>div{
    margin-left:2%;
}
.CurrentChapter
{
    font-size:14.25pt;
    font-weight:bold;
}
.OtherChapter
{
    font-size: 14.25pt;
}
.currentStep
{
    font-size:9.75pt;
    font-weight:bold;
    text-decoration:underline;
}
.otherSteps
{
    font-size: 9.75pt;
}